  * {
        box-sizing: border-box;
    }

    body {
        background: #FFF;
        color: #000;
        font-family: "Raleway";
        max-width: 1440px;
        margin: auto;
    }

    header,main,footer {
    width: 100%;
}

    .topbar {
        background: #FFF;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 30px;
        
    }

    .topbar a {
        text-decoration: none;
    }
        
    .topbar nav {
        text-align: right;
        word-spacing: 60px;
    }

    .topbar nav a.active{
        border-top: 2px solid #0065FC;
        color: #0065FC;    
        padding-top: 27px;
        
    }

    .topbar nav a.inscription {
        color: #0065FC;
        font-weight: bold;
    }

    .topbar nav a.Activités {
        color: black;
    }

    .Reservia {
        
        padding-bottom: 20px;
        
    }

    h1 {
       font-size: 23px;
        
    }
    

    .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        height: 45px;
       width: 50px;
       font-size: 18px; 
       background-color: #F2F2F2;
       padding-left: 10px;
       padding-right: 10px;
       border-top-left-radius: 1em;
       border-bottom-left-radius: 1em;  
    }   

    
   h5 {
       padding-left: 45px;
       padding-right: 105px;
       
   }

    .button {
        background-color: #0065FC;
        color: white;
        height: 45px;
        width: 110px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border: none;
        font-family: 'Raleway', Arial, Sans Serif;
        font-size: 14px;
        font-weight: bold;
           }

    .filtres {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        margin-top: 30px;
        
    }

    .Filtre-icone {
       color: #0065FC;
       background-color: #DEEBFF;
     
       border-radius: 30px;
       height: 30px;
       width: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       
    }
    
    .Filtre {
        
       
        border: #F2F2F2 solid;      
        border-radius: 30px;
        height: 30px;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        
    }

    .Filtre p {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
    }

    

    

    .info {
       color: #0065FC;
       font-size: 15px;
       
       
       display: flex;
       justify-content: center;
       align-items: center;
       border: #F2F2F2 solid;
       border-radius: 20px;
       height: 30px;
       width: 30px;
       
       
    }

    .info2 {
        display: flex;
        justify-content: start;
        align-items: center;
       font-size: 15px;
       margin-top: 20px;
       margin-bottom: 40px;
       
    }

    .hebergements {
       margin-left: 30px;
       background-color: #F2F2F2;
       border-radius: 30px;
       height: 700px;
       width: 65%;
       
       
    }

    .hebergements li {
        background-color: #FFF;
        border-radius: 30px;
        width: 26%;
        padding: 3px;
    }

    .hebergements figure {
        height: 100px;
        width: 100%;
        border-top-right-radius:  30px;
        border-top-left-radius:   30px;
        margin: 0;
        background-size: cover;
    }

    .titre1 {
        padding-left: 80px;
        padding-top: 40px;
        font-weight: bold;
    }

     main ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
    }

    .Auberge figure {
        
        background-image: url(hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        }

    .Port figure {
       
        background-image: url(hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  
        
    }

    .Mouettes figure {
        
        background-image: url(hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
   
    }

    .Mer figure {
       
        background-image: url(hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }

    .Panier figure {
      
        background-image: url(hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);  
    }

    .Amina figure {
        
        background-image: url(hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    .afficher {
        font-weight: bold;
        padding-left: 80px;
        padding-top: 30px;
    }

  aside {
      
    position: absolute;
    top: 440px;
    right: 30px;
    border-radius: 30px;
    height: 700px;
    width: 30%;
    background-color: #F2F2F2;
    list-style: none;
    
   }

   aside li {
    background-color: #FFF;
    border-radius: 30px;
    width: 26%;
    padding: 3px;
    
   }

   aside figure {
    height: 100px;
    width: 100%;
    border-bottom-left-radius:  30px;
    border-top-left-radius:   30px;
    margin: 0;
    background-size: cover;
    

   }

   
  .titre2 {
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
  }

  .Soleil figure {
      background-image: url(hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
      
  }

  .Eau figure{
      background-image: url(hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
     
  }

  .Bleu figure{
      background-image: url(hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
      
  }


.fas {
   color: #0065FC;
}


  .titre3 {
      font-weight: bold;
      padding-left: 30px;
  }

  .Acti {
      font-weight: bold;
  }

  .Acti li {
    background-color: #FFF;
    border-radius: 30px;
    width: 26%;
    padding: 3px;
  }

  .Acti figure {
    height: 100px;
    width: 100%;
    border-top-right-radius:  30px;
    border-top-left-radius:   30px;
    margin: 0;
    background-size: cover;
  }

.Vieux figure{
    background-image: url(activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 500px;
  
}

.Pomègues figure{
    background-image: url(activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
 height: 200px;
}

.Frioul figure{
    background-image: url(activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
      height: 200px;
}

.Calanques figure {
    background-image: url(activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 500px;
}

.Dame figure{
    background-image: url(activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 200px;
} 

.Longchamp figure{
    background-image: url(activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
 height: 200px;
}

footer {
    background-color: #F2F2F2;
       border: 30px;
       height: 200px;
       list-style: none;
       display: flex;
       justify-content: flex-start;      
}

footer ul {
    margin-right: 150px;
    list-style: none;
}

footer p {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

 


 .filtres {
     display: flex;
     flex-wrap: wrap;
 }
 
 
    main {
     flex-direction: column;
 }

 section, aside {
    
     flex-direction: column;
 }

 footer {
     flex-direction: column;
 }

  
}

    