  * {
        box-sizing: border-box;
    }

    body {
        background: #FFF;
        color: #000;
        font-family: "Raleway";
        max-width: 1440px;
        margin: auto;
    }

    header,main,footer {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

    .topbar {
        background: #FFF;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 30px;
        
    }

    .topbar a {
        text-decoration: none;
    }
        
    .topbar nav {
        text-align: right;
        word-spacing: 60px;
    }

    .topbar nav a.active{
        border-top: 2px solid #0065FC;
        color: #0065FC;    
        padding-top: 27px;
        
    }

    .topbar nav a.inscription {
        color: #0065FC;
        font-weight: bold;
    }

    .topbar nav a.Activités {
        color: black;
    }

    .Reservia {
        
        padding-bottom: 20px;
        
    }

    h1 {
       font-size: 23px;
        
    }
    

    .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 45px;
       font-size: 18px; 
       border-radius: 1em;
       overflow: hidden;
       max-width: 400px;
       
    }   

    .search > i {
        background-color: #F2F2F2;
        height: 100%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .search button i {
        display: none;
    }

    
   .search input {
       padding-left: 20px;
       padding-right: 20px;
       flex-grow: 2;
       margin: 0;
       height: 45px;
       display: flex;
       align-items: center;
       border-color: rgb(207, 207, 207);
       border-style: solid;
       border-width: 1px 0;
       font-weight: bold;
       font-family: 'Raleway', Arial, 'Sans Serif';
   }

    .button {
        background-color: #0065FC;
        color: white;
        height: 45px;
        width: 110px;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border: none;
        font-family: 'Raleway', Arial, 'Sans Serif';
        font-size: 14px;
        font-weight: bold;
        position: relative;
        left: -15px;
           }

    .filtres {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        margin-top: 30px;
        
        
    }

    .Filtre:hover {
       background-color: #DEEBFF;
      
    }
    

    .Filtre-icone {
       position: relative;
        color: #0065FC;
       background-color: #DEEBFF;
       border-radius: 45px;
       height: 45px;
       width: 45px;
       display: flex;
       justify-content: center;
       align-items: center;
       left: -3px;
       
    }
    
    .Filtre {
        
       
        border: #F2F2F2 solid;      
        border-radius: 45px;
        height: 45px;
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 7px;
        
        
    }

    .Filtre p {
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    }

    

    

    .info {
       color: #0065FC;
       font-size: 15px;
       
       
       display: flex;
       justify-content: center;
       align-items: center;
       border: #F2F2F2 solid;
       border-radius: 20px;
       height: 30px;
       width: 30px;
       
       
    }

    .info2 {
        display: flex;
        justify-content: start;
        align-items: center;
       font-size: 15px;
       margin-top: 20px;
       margin-bottom: 40px;
       
    }

    a, 
    a:hover,
    a:active,
    a:visited {
        text-decoration: none;
        color: black;
    }

    .hebergements {
       
       background-color: #F2F2F2;
       border-radius: 30px;
       width: 65%;       
    }

    .hebergements li {
        background-color: #FFF;
        border-radius: 30px;
        width: 26%;
        padding: 3px;
        padding-bottom: 7px;
        margin-bottom: 15px;
        
    }

  
    .hebergements p {
        margin-top: 5px;
        margin-bottom: 5px;
        
    }

    .hebergements i {
        margin: 1px;
    }

    .hebergements figure {
        height: 100px;
        width: 100%;
        border-top-right-radius:  30px;
        border-top-left-radius:   30px;
        margin: 0;
        background-size: cover;
    }
    
    .hebergements p {
        margin-left: 15px;
    }

    .hebergements li .fas {
        margin-left: 15px;
    }

    .hebergements li .fas ~ .fas {
        margin-left: 0px;
    }

    figure {
        background-position: center;
    }

    .titre1 {
        padding-left: 80px;
        padding-top: 40px;
        font-weight: bold;
    }

     main ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 15px;
        
        
    }

    .Auberge figure {
        
        background-image: url(hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        }

    .Port figure {
       
        background-image: url(hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  
        
    }

    .Mouettes figure {
        
        background-image: url(hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
   
    }

    .Mer figure {
       
        background-image: url(hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }

    .Panier figure {
      
        background-image: url(hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);  
    }

    .Amina figure {
        
        background-image: url(hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    .afficher {
        font-weight: bold;
        padding: 30px;
    }

  aside {
    border-radius: 30px;
    width: 30%;
    background-color: #F2F2F2;
    list-style: none;
    
    
   }

   aside li .fas {
       margin-top: 20px;
   } 

   aside li div {
    margin-left: 15px;
    margin-right: 25px
   }

   aside ul {
       height: 80%;
       padding: 0;
   }

   aside li {
    background-color: #FFF;
    border-radius: 30px;
    height: 130px;
    width: 80%;
    margin-bottom: 20px;
    
   }

   aside a {
    display: flex;
    padding: 3px;
    height: 100%;
   }

  

   aside p {
       margin-top: 8px;
       margin-bottom: 8px;
   }

   


   aside figure {
    height: 100%;
    width: 130px;
    min-width: 130px;
    border-bottom-left-radius:  30px;
    border-top-left-radius:   30px;
    margin: 0;
    background-size: cover;
    

   }

   
  .titre2 {
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      padding-top: 20px;
      
  }

  .titre2 .fas {
    color: black;
}

  .Soleil figure {
      background-image: url(hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
      
  }

  .Eau figure{
      background-image: url(hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
     
  }

  .Bleu figure{
      background-image: url(hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
      
  }


.fas {
   color: #0065FC;
}

.grey {
    color: #cfcfcf;
}


  .titre3 {
      font-weight: bold;
      padding-left: 30px;
  }

  .Acti {
      font-weight: bold;
      width: 80%;
  }

  .Acti li {
    background-color: #FFF;
    border-radius: 30px;
    width: 22%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 5px rgb(209, 209, 209));
    

  }

  .Acti li p {
      margin-left: 10px;
  }

  .Acti figure {
  
    width: 100%;
    border-top-right-radius:  30px;
    border-top-left-radius:   30px;
    margin: 0;
    background-size: cover;
    flex-grow: 2
    ;
  }

  .Acti ul {
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      height: 500px;
      max-height: 500px;
      align-content: space-between;
  }
.Vieux,.Calanques {
    height: 100%;
}
.Pomègues, .Longchamp {
    height: 55%;
}
.Frioul, .Dame {
    height: 40%;
}
.Vieux figure{
    background-image: url(activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 400px;
  
}

.Pomègues figure{
    background-image: url(activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
 height: 200px;
 
}

.Frioul figure{
    background-image: url(activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
      height: 132px;
}

.Calanques figure {
    background-image: url(activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 400px;
}

.Dame figure{
    background-image: url(activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 132px;
} 

.Longchamp figure{
    background-image: url(activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
 height: 200px;
}

footer {
    background-color: #F2F2F2;
       border: 30px;
       list-style: none;
       display: flex;
       justify-content: flex-start;      
}

footer ul {
    margin-right: 150px;
    list-style: none;
}

footer p {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

 
.topbar {
padding: 10px;
}

.search button i {
    display: inline;
    color: #FFF;


}
.search button span {
    display: none;
}

.search button {
    border-radius: 1em;
    width: 45px;
}


 .filtres {
     display: flex;
     flex-wrap: wrap;
 }
 
 
    main {
        display: flex;
        flex-wrap: wrap;
     flex-direction: column;
     
 }

 section, aside, .hebergements {
    
     flex-direction: column;
     width: 100%;
     margin-bottom: 35px;
     border-radius: 0px;
 }

 .Acti {
     order: 3;
     margin: auto;
     
 }

 .hebergements {
     order: 2;
 }

 .hebergements li {
     width: 80%;
 }
 
 aside {
     order: 1;
 }

 .Acti ul {
     padding: 10px;
     height: auto;
     max-height: none;
     margin: auto;
     width: 100%;
     margin-bottom: 30px;
     
 }

 .Acti li {
    width: 100%;
 }

 .Acti ul li figure {
height: 150px;
 }

 footer {
     flex-direction: column;
 }

  
}

    